h1{
    color: green;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav {
    height: 30px;
    position: relative;
    z-index: 2;
}

.nav li {
    float: left;
    height: 30px;
    margin-right: 10px;
}

.nav li a {
    display: block;
    width: 100%;
    height: 30px;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
    color: grey;
    text-align: center;
    padding: 0 3px;
}

.active {
    border-top: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    border-bottom: none;
    background-color: white;
}

.center-form{
    width: 400px;
    margin: 20px auto;
}

.input{
    border: solid 1px lightblue;
    padding: 5px 10px;
    border-radius: 5px;
    outline:none;
}

.button,a{
    border-radius: 5px;
}

.button{
    border: none;
    background-color: darkcyan;
    outline:none;
    padding: 5px 10px; 
    color: white;
}

.button:hover{
    cursor: pointer;
    background-color: brown;
}

.data-table{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
}

.odd{
    background-color: lightcoral;
}

.even{
    background-color: lightyellow;
}

.regBtn{
    text-decoration: none;
    padding: 3px 10px;
    background-color: darksalmon;
    color: white;
}

.regBtn:hover{
    text-decoration: underline;
    background-color: purple;
}

.registerButton{
    width: 130px;
}

.text-center{
    text-align: center;
}

.header{
    color: white;
    font-size: 18px;
    background-color: darkkhaki;
}

.caption{
    font-size: 20px;
    color: brown;
}
.content {
    width: 250px;
    height: 180px;
    position: relative;
    z-index:1;
}

.content div {
    width: 100%;
    height: 180px;
    position: absolute;
    left: 0;
    display: none;
    border-top: solid 1px grey;
    z-index: -1;
    padding: 10px;
    font-size:13px;
    line-height: 20px;
}

.content #div1 {
    display: block;
}