<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=QDU</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <mapping resource="Course.hbm.xml"/>
    <mapping resource="Question.hbm.xml"/>
    <mapping resource="Student.hbm.xml"/>
    <mapping resource="Manager.hbm.xml"/>
    <mapping resource="Grade.hbm.xml"/>
    <mapping resource="StudentCourse.hbm.xml"/>
    <mapping resource="TestApplication.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
