.header{
    background-image: url(../resources/pic/pic1.jpg);
    width: 80%;
    height: 122px;
    text-align: center;
    margin: auto;  
    border-radius: 10px;
}
.nav ul {
	float: right;
	padding: 0px;
	margin-top: 0px;
	list-style: none;
}

.nav ul li {
	padding: 0 7px;
	float: left;
        font-size: 20px;
}

.nav ul li a {
	color: black;
	height: 20px;
	text-decoration: none;
	font-size: 15px;
}
.input{
    border-radius: 5px;
    border: solid 1px lightblue;
    margin-left: 5px;
    height: 20px;
}
.button{
    border-radius: 5px;
    border: none;
    background-color: darkcyan;
    outline:none;
    padding: 5px 10px; 
    color: white;
    margin-left: 5px;
}
.button :hover{
    color: aqua;
    cursor: pointer;
}
.buttonT{
    border-radius: 5px;
    border: none;
    background-color: darkcyan;
    outline:none;
    padding: 2px 6px; 
    color: white;
    margin-left: 2px;
}
.buttonT :hover{
    color: #3b3b3b;
    cursor: pointer;
}
.body{
    background-image: url(../resources/pic/pic1.jpg);
    width: 80%;
    height: 800px;
    margin: 55px auto;
    border-radius: 10px;
}
#div1{
    float: left;
}
#div2{
    width: 50%;
    height: 56%;
    border-right:2px solid grey;
    border-bottom: 2px solid grey;
    border-radius: 10px;
    padding-top: 120px;
    padding-left: 20px;
    margin-top: 4px;
    float: left;
}
#div2-1{
    background: url(../resources/pic/pic13.jpg);
    width: 525px;
    height: 260px;
}
.button1{
    border-radius: 5px;
    border: none;
    background-color:darkcyan;
    outline:none;
    padding: 5px 10px; 
    color: white;
    margin-left: 180px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.button1:hover{
    color: aqua;
    cursor: pointer;
}
#div3{
    width: 30%;
    height: 30%;
    border-top: 2px solid #3b3b3b;
    border-bottom: 2px solid #3b3b3b;
    border-radius: 5px;
    float: left;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 170px;
    color:black;
    line-height: 40px;
}
.foot{
   width:100%;
   margin-top:50px;
   float: left; 
   text-align: center;
   color:black;
}